html {
  font-family: sans-serif;
}

body {
  background: url(images/body-bg.svg);
}

h2, .submit-btn {
  background-color: #7b3056;
  color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.input-group-text {
  background-color: #7b3056;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
}

.submit-btn:hover {
  color: #fff;
}

.box-1,
.box-2 {
  min-height: 50vh;
  max-height: 50vh;
  overflow: auto;
}

.filter,
.box-1,
.box-2 {
  border: 3px solid #7b3056d9;
  border-radius: 5px;
}

.tweet-input {
  border: 3px solid #7b3056d9;
  border-right: 0;
}

.form-control:focus {
  border-color: #7b3056d9;
  box-shadow:none;
}

.input-group {
  border-radius: 5px;
}

form {
  height: 7rem;
  width: 100%;
}
